header {
  align-items: center;
  background-color: rgb(223, 220, 220);
  color: rgb(51, 51, 51);
  display: flex;
  font-weight: 600;
  justify-content: space-around;
  letter-spacing: 2px;
}

p {
  margin-left: 10px;
}

.main {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  font-size: 22px;
  height: 100vh;
  justify-content: center;
}

.player-info {
  align-items: center;
  display: flex;
}

.player-info img {
  border-radius: 100%;
  margin-right: 10px;
  width: 15%;
}

.score-container {
  align-items: center;
  display: flex;
}

.question-container {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0.3em 1.5em rgb(53, 53, 53);
  color: rgb(51, 51, 51);
  display: flex;
  flex-flow: column wrap;
  font-weight: 600;
  min-width: 20em;
  padding: 1em;
  text-align: center;
  width: 40%;
}

.alternatives {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
}

.btn-alternative {
  background-color: #a8f9f3;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0.1em 1.5em rgb(53, 53, 53);
  color: rgb(41, 12, 97);
  font-size: 22px;
  font-weight: 600;
  margin: 1em;
  max-width: 20em;
  padding: 15px;
  transition: transform 0.5s;
  width: 20em;
}

.alternatives button:hover {
  transform: scale(1.3);
}

.timer {
  background-color: #a8f9f3;
  border: 3px solid #624291;
  border-radius: 100%;
  color: #624291;
  display: block;
  font-weight: 600;
  height: 25px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: -17px;
  width: 25px;
}

.btn-next {
  background-color: rgba(10, 245, 155, 0.9);
  border: none;
  border-radius: 5px;
  box-shadow: 0 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: white;
  font-weight: 700;
  margin: 0.5em 0;
  padding: 15px;
  transition: transform 0.5s;
  width: 10em;
}

.btn-next:hover {
  background-color: rgba(10, 245, 155, 1);
  transform: scale(1.3);
}
